@font-face
{
font-family: SourceCodePro-reg;
src: url(../fonts/sourcecodepro/SourceCodePro-Regular.ttf);
}

@font-face{
    font-family: Mohave;
    src:url(../fonts/Mohave/Mohave.otf);;
}

@font-face{
    font-family: MohaveB;
    src:url(../fonts/Mohave/Mohave-Bold.otf);;
}

@font-face{
    font-family: Gandhi;
    src:url(../fonts/gandhi-sans/GandhiSans-Regular.otf);
}


.lead{
    font-family:Gandhi;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Mohave;
    font-weight: 400;
    font-size: 2em;
    background-color: #000;
}


.intro {
  padding: 80px 0;
  background-color: white;
  color: black;
}

.navbar-brand {
    font-family: Mohave;
    font-size: 1em;
    color:#3D731E ;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        /*padding: 20px 0;*/
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: #000;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}
